MONGODB_URL='mongodb://localhost:27017/filmes-db'
SECRET=MIICXQIBAAKBgQDQxGmJovfufL/CSQea2/5W0sqbEMXCRkSXmDsdbNJtmUlsxFpfnN7LvKS0QOJFvWhLDH2+9UFkaQvMBgh27MZxY/D1WLvcf2//+2NGODU4vf3i2F0ok2xq4W53tb8WcuzgoVhZRiIzFlj5DdUbGd30sAzweuYP716L7LDxg4/osQIDAQABAoGBALsb7sMvTytun6eQMMK4/cHvdyt34ub2d6+u/vymdgtI4agcbCtZu826q5vqs2JyGjF5ZpJp2kwWYj5gAeIk4M1Nbgr3OC5Eh89o7la7h+Awzpf+BguAQV15kH136G0XYlUy7LHBli37lNc9V/wormeVVuaxC1a++M750IVStsPhAkEA7428ObtGNxc1225a47oNuDnHr57vZtABKaE2wQa8dKAQuyXtKABtZNQDn1Df+jn554LaQfcrUdYvlNlwbsyz1QJBAN8Zl3cCcihY+0icxN0n6pPB2oxoyxTUABgPZmsgvPIkjlOwBJaql03pDHgVBF8LDZqQx/SjTY3V+6EAyAwAe20CQCqmPWC56uJcC4apuxzYPyERiG/ICC9x0QMsZKcxH9RTuybWtcZtbQyKgqqWp4nRUKDbNyiPbPMBAy+pFs9jOpECQAip5MDhXm+ErRVvyRFRiIF+aK9FLoW7idllV7PXTJ8WnlRPpI35R/DlmO9c2ZObSUb0Ul+Eq/FTGvdwoVQd/K0CQQDbNEl7DM76bNgBei6tMEltIB8HsQOTuPyNboIN7FuwrIJzKBCxr7HA7wv4vVrArFwh4o8YdL/an5uAysdiUkxg